@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  header,
  .no-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .page-break {
    page-break-before: always;
  }

  .avoid-break {
    page-break-inside: avoid;
  }
}
